<!DOCTYPE html>

<html lang="pt-PT">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pekoe & Blend</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <a href="/">
        <img src="../imagens/logo.png" id="imgpos" />
    </a>
    <div class="wrapper">
        <header>Login</header>
        <form id="loginform" role="form" method="post" action="/login">
            <div class="field email">
                <div class="input-area">
                    <input id="login-username" type="text" name="nome_user" value="" placeholder="Nome User">
                    <i class="icon fas fa-user"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>
            <div class="field password">
                <div class="input-area">
                    <input id="login-password" type="password" name="senha" placeholder="Senha">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>

            <input type="submit" value="Login">
        </form>
        <div class="sign-txt">Nao tem uma conta? <a href="/registo">Registar-se</a></div>
    </div>



</body>

</html>