


<!DOCTYPE html>

<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pekoe & Blend</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <header>Registo</header>
        <form name="registo"  role="form" method="post" >
            <div class="field Nome user">
                <div class="input-area">
                    <input id="login-username" type="text" name="nome_user" value="" placeholder="Nome User" required>
                    <i class="icon fas fa-user"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>
            <div class="field email">
                <div class="input-area">
                    <input id="login-email" type="text" name="email" placeholder="Email" required>
                    <i class="icon fas fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>

            <div class="field password">
                <div class="input-area">
                    <input id="login-password" type="password" name="senha" placeholder="Senha" required>
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>

            </div>

            <input type="submit" value="Registar">
        </form>
        <div class="sign-txt">Tem uma conta? <a href="/">Login</a></div>
    </div>



</body>

</html>